<span>@Html.ActionLink("Склад", "Index", "Home", new { }, new { })</span>
<span>@Html.ActionLink("Категории", "Index", "Category", new { }, new { })</span>
<span>@Html.ActionLink("Товары", "Index", "Product", new { }, new { })</span>
