@model Storage.Models.HomeModels.HomeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    Приложение
    <h1>"Склад"</h1>
    <p>Login:admin</p>
    <p>Password:admin123!</p>
</div>
